# {{.Title}}

* Status: Proposed
* Date: {{.Date}}

## Context and Problem Statement

{{.Statement}}

{{ if .Options -}}
## Considered Options
{{ range .Options }}
* {{ .}}
{{- end }}

## Decision Outcome

[Decision outcome]
{{ end -}}
